:root {
    font-family: Helvetica, Arial, sans-serif;
    /* Fluid font size from Utopia */
    font-size: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
    /* Safari Resize fix */
    min-height: 1vw;
}

h1 {
    width: 24rem;
    margin: 2rem auto;
    text-align: center;
}
h2,h3,ul,p {
    margin: 0 0 1rem;
}
h4 {
    margin: 0 0 0.2rem;
}
nav {
    width: 30rem;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

nav a {
    color: white;
    background-color: saddlebrown;
    text-decoration: none;
    display: block;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background-color: darkorange;
}

.active {
    text-decoration: none;
    color: white;
    background-color: darkorange;
}

form {
    width: 20rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .2rem;
    background-color: lightsteelblue;
    padding: 2rem;
}

fieldset {
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: 700;
}

legend {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 1rem;
    color: darkslateblue;
}

form div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

input,
textarea,
select {
    font-size: 1rem;
    padding: .5rem;
    border-radius: .2rem;
    border: 1px solid gray;
}

.checkbox-wrapper {
    gap: .6rem;
}
.checkbox-wrapper label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
    font-weight: 400;
}

input[type="checkbox"], input[type="radio"] {
    width: 1rem;
    height: 1rem;
}

.description {
    font-style: italic;
    font-size: .8rem;
    display: block;
    line-height: 1.4;
}
[data-error] {
    border-right: .4rem solid darkred;
    padding-right: .8rem;
}
[hidden] {
    display: none;
}
.error-msg:not([hidden]) {
    font-size: 0.8rem;
    font-weight: 700;
    color: darkred;
    display: block;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"],
select[aria-invalid="true"] {
    background-color: lightyellow;
}

button, input[type="button"], input[type="submit"]{
    background-color: steelblue;
    color: white;
    padding: .6rem 2rem;
    border-radius: .4rem;
    border: 1px solid white;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    transition: all;
}

button:disabled, input[type="submit"]:disabled {
    background-color: gray !important;
    cursor: default;
}

button:hover {
    background-color: purple;
}
.button-group {
    flex-direction: row;
}

.form-validation-log {
    border: 1px solid orange;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: lightyellow;
}

code {
    background-color: rgb(255 255 255 / 0.3);
    padding: .2rem .3rem;
    font-family: monospace;
    border-radius: .3rem;
    font-style: normal;
}